<div class="score-form">
    <h2>Ajout score Low</h2>
    <form method="post" action="/admin/addScoreLow">
        <div class="form-group">
            <label>ID Player</label>
            <input type="text" class="form-control" placeholder="IDPlayer" name="IDPlayer">
        </div>
        <div class="form-group">
            <label>ID Song</label>
            <input type="text" class="form-control" placeholder="IDSong" name="IDSong">
        </div>
        <div class="form-group">
            <label>Fantastics</label>
            <input type="text" class="form-control" placeholder="Fantastics" name="Fantastics">
        </div>
        <div class="form-group">
            <label>Excellents</label>
            <input type="text" class="form-control" placeholder="Excellents" name="Excellents">
        </div>
        <div class="form-group">
            <label>Greats</label>
            <input type="text" class="form-control" placeholder="Greats" name="Greats">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
