<div class="container even-container">
    <div class="row">
        <div id="whoIsRems" class="presentation col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 evenIndexPage">
            <div class="even-title">
                <h2>Who are you ?</h2>
            </div>
            <ul class="bullet-list-even-whoIsRems">
                <li class="list-line-whoIsRems">I'm Rémi aka Rems (you may know me as MAX300) from Lille, France and I have been playing the game (keyboard included) for 10 years now.</li>
                <li class="list-line-whoIsRems">I have been involved in the organization of ITG tournaments in France for just a bit less than a year know (the French Coast -Toast- tournaments), and I just started making stepcharts for ITG.</li>
                <li class="list-line-whoIsRems">This is my first solo project as is, as the only thing I cooperated on before is the Omelette du Fromage pack, which you maybe have seen before.</li>
                <li class="list-line-whoIsRems">Though you can argue this is not 100% original, the mixes are my work, and the creation of almost all sub expert difficulties is also my work. One of these 10 songs is also 100% original.</li>
                <li class="list-line-whoIsRems">Projects in the future are right know making a girls only tournament for France, a French Coast Stamina invitational tournament, and 3 differents packs with different general themes.</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container odd-container">
    <div class="row">
        <div id="stepartists-credits" class="presentation col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <div class="odd-title">
                <h2>Step-Artists credits (Alphabetical order)</h2>
            </div>
            <h3 class="table-header">@@ - Wrote 5 of the charts</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Antagon</td><td>Nocturnal Nectar</td><td>Cranked Pastry</td></tr>
                <tr class="table-row"><td>Shouton</td><td>Alien Interview</td><td>Cranked Pastry</td></tr>
                <tr class="table-row"><td>Xavi BCN</td><td>Paranoid</td><td>Makina Marathon</td></tr>
                <tr class="table-row"><td>Dethklok</td><td>The Gears</td><td> - </td></tr>
                <tr class="table-row"><td>DJ Nanazaki</td><td>Unorthodox Red</td><td>Oh Henry !</td></tr>
            </table>
            <h3 class="table-header">Aoreo - 3 charts</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Nexus</td><td>Havoc Impact</td><td>Beast Aoreo Beast 2</td></tr>
                <tr class="table-row"><td>Sanzensekai</td><td>Iro wa jyou he to sasou</td><td>Beast Aoreo Beast 4</td></tr>
                <tr class="table-row"><td>Goreshit</td><td>No More Faking</td><td>The Apocalypse Sampler</td></tr>
            </table>
            <h3 class="table-header">Archi - 2 charts</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>DJ Nanazaki</td><td>Unorthodox Red Hard</td><td>Oh Henry !</td></tr>
                <tr class="table-row"><td>DJ Sharpnel</td><td>Gate Openerz</td><td>Sharpnel v2</td></tr>
            </table>
            <h3 class="table-header">Arvin - 1 chart</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Rhapsody</td><td>Agony Is My Name</td><td>Rhapsody</td></tr>
            </table>
            <h3 class="table-header">B.Abear - 1 chart</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Dragonforce</td><td>Fury Of The Storm</td><td>Dragonforce</td></tr>
            </table>
            <h3 class="table-header">Fraxtil - 2 charts</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Kors K</td><td>Programmed Sun</td><td>You're Streaming Again</td></tr>
                <tr class="table-row"><td>LV.4</td><td>273.15</td><td>You're Streaming Forever</td></tr>
            </table>
            <h3 class="table-header">Mad Matt - 2 charts</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Betwixt & Between</td><td>12 Little Fragments Of Silence</td><td> - </td></tr>
                <tr class="table-row"><td>Goreshit</td><td>Thinking Of You</td><td> - </td></tr>
            </table>
            <h3 class="table-header">Rems - 7 charts - Everything unreleased so far</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>1200 Micrograms</td><td>Mescaline</td><td> - </td></tr>
                <tr class="table-row"><td>Exaile</td><td>Let Loose</td><td> - </td></tr>
                <tr class="table-row"><td>Frixion Fanatic</td><td>The Abyss</td><td> - </td></tr>
                <tr class="table-row"><td>The Outside Agency</td><td>Waiting Till Dark</td><td> - </td></tr>
                <tr class="table-row"><td>Reso</td><td>Move It</td><td> - </td></tr>
                <tr class="table-row"><td>Quadrant</td><td>206</td><td> - </td></tr>
                <tr class="table-row"><td>Noisia</td><td>Dead Limit</td><td> - </td></tr>
            </table>
            <h3 class="table-header">T.Prag - 1 chart</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Dragonforce</td><td>Fury Of The Storm</td><td>The Apocalypse Sampler</td></tr>
            </table>
            <h3 class="table-header">TYLR - 2 charts</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Dj Sharpnel</td><td>Gate Openerz</td><td>Sharpnel v3</td></tr>
                <tr class="table-row"><td>DJ Sharpnel</td><td>Future Dominators</td><td>Sharpnel v3</td></tr>
            </table>
            <h3 class="table-header">Zaia - 6 charts</h3>
            <table class="stepchart-table">
                <tr class="table-head"><th>Song Artist</th><th><span title="Darude - Sandstorm">Song Name</span></th><th>Original Pack</th></tr>
                <tr class="table-row"><td>Betwixt & Between</td><td>Division 4</td><td>Cirque Du Lykan</td></tr>
                <tr class="table-row"><td>Arkitech & Sharkey</td><td>Quadraphinix</td><td>Cirque Du Lykan</td></tr>
                <tr class="table-row"><td>t+pazolite</td><td>World End Xanadu</td><td>Cirque Du Lykan</td></tr>
                <tr class="table-row"><td>Helblinde</td><td>A Reyvateils Curse</td><td>Helblinde</td></tr>
                <tr class="table-row"><td>Helblinde</td><td>Love Is War</td><td>Helblinde</td></tr>
                <tr class="table-row"><td>Helblinde</td><td>Aura</td><td>Helblinde</td></tr>
            </table>

            <hr class="light">

            <p class="credits-paragraph">
            Also many thanks to the Low Division stepartists not named before :
            Benoukat, Condortalon, EZA, Gazebo, G.Nappo, Happy Feet, mute, Pinguu, t0ni & Zeph !
            </p>
        </div>
    </div>
</div>

<script src="js/scrollers.js"></script>