<div class="container odd-container">
    <div class="row">
        <div id="general_information" class="presentation col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <div class="odd-title">
                <h2>Downloads</h2>
            </div>
            <p class="download-paragraph">You can get the complete pack right here :
                <a href="https://mega.nz/#!zRUlzKCT!ZeYqCD4H1Bw6xTF4q8aC1gv3Hw_8cSIVLN_XskavNas">Pack Link</a></p>
            <p class="download-paragraph">Or if you prefer you can only download the high division here :
                <a href="https://mega.nz/#!zRUlzKCT!ZeYqCD4H1Bw6xTF4q8aC1gv3Hw_8cSIVLN_XskavNas">High Division Pack</a></p>
            <p class="download-paragraph">Tentative breakdowns and song stats are included in the pack.</p>
            <p class="download-paragraph">Online version can be found here :
                <a href="https://drive.google.com/file/d/0B4Px_iPJNqYoaEpDWXhuUlZ3Rms/view?usp=sharing">Online Version</a></p>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container even-container">
    <div class="row">
        <div id="general_information" class="presentation col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <p class="odd-paragraph">
                If you have Stepmania 5 and want some fancy unicode numbers for the Low division, get them here :
                <a class="blue-link" href="https://mega.nz/#!vRcmmDiR!z88QXtvgHiC821M5ddzuWvUMHDlC1IS2Uvnwg49FgJQ">Pack with Unicode numbers</a></p>

        </div>
    </div>
</div>
<script src="js/scrollers.js"></script>