<header id="header-presentation">
    <div class="header-content">
        <div class="header-content-inner">
            <a id="index-main-button" href="#presentation" class="btn btn-primary btn-xl page-scroll">Let's beast</a>
        </div>
    </div>
</header>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
    <div class="container odd-container">
        <div class="row">
            <div id="presentation" class="presentation col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <div class="odd-title">
                <h2>What is this ?</h2>
            </div>
            <div class="odd-content">

            <p class="odd-paragraph">
                French Toast Stamina aka French Coast Stamina 2, is a worldwide online ITG stamina competition.
            </p>
            <ul class="bullet-list-odd">It uses songs in a pack that is divided in 2 divisions:
              <li class="fast-list-line"> A low (which can be called hope) division with song difficulties ranging from low-end 11 to upper 13.</li>
              <li class="fast-list-line"> A high division with song difficulties from low end 13 to 21 </li>
            </ul>
            <ul class="no-bullet-list-odd">
                <li class="list-line">Contestants can enter both divisions regardless of their skill level.</li>
                <li class="list-line">The High pack is a compilation of 10-minutes long mixtapes I did myself from existing songs and charts in ITG with a few exclusives. It features all 5 difficulties.</li>
                <li class="list-line">The Low pack is a standard tournament pack with personal picks from other stepartists. Props to them here: <a href="/credits#stepartists-credits">Stepartists Credits</a></li>
                <li class="list-line">The Scoring System can be found here: <a href="/rules">Rules</a></li>
                <li class="list-line">The complete pack: High + Low + Courses is here: <a href="/downloads">The packs</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
   <div class="container even-container">
       <div class="row">
           <div class="prizes col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 evenIndexPage">
           <div class="even-title">
               <h2>What is there to win?</h2>
           </div>
    <p class="prizes-paragraph">
        Well, at the moment, nothing special. The High Division pack is new, so you don't need to enter the competition to enjoy new and old charts compiled together.
    </p>
    <p class="prizes-paragraph">
        There may be some prizes if the tournament becomes successful but they will be kept to a minimum because it costs a lot to send prizes overseas unfortunately.
    </p>
    <h3 class="prizes-h3">
        But I hope you'll have a lot of fun doing this!
    </h3>
       </div>
   </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container odd-container">
    <div class="row">
        <div class="participation col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <div class="odd-title">
                <h2> So why should I participate?</h2>
            </div>
    <ul class="bullet-list-odd-participation">
        <li class="list-line-participation">1 - Get yourself on the map ! It is a good way to mesure your skills with foreign and local players.</li>
        <li class="list-line-participation">2 - Help creative people get a better grasp on dance games demographics ! Helping everyone to get a better idea on the playerbase of each country will certainly get you more good content in the future.</li>
        <li class="list-line-participation">3 - To push yourself. It is a new kind of stamina charts, and should help you push your boundaries.</li>
    </ul>
    <p class="participation-paragraph">
    Additionally, these are more suited for public arcade play than the marathons you can find at the moment which are usually way longer than 10 minutes.
    </p>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container even-container">
    <div class="row">
        <div class="signup col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 evenIndexPage">
            <div class="even-title">
                <h2>Alright, I am interested, how do I sign up for this?</h2>
            </div>
            <ul class="bullet-list-even-signup">
                <li class="list-line-signup"> Get the pack here: <a class="blue-link" href="https://mega.nz/#!3UlkiTZS!AsXrPzPSHDgaT4erLuaSaO0m_mUqLF4FmOX7UD_JsbY">The packs</a> </li>
                <li class="list-line-signup"> Join the Facebook page French Toast Stamina and post your scores into to be sure they are counted. I keep an eye on multiple networks but I can't keep track of everything.
                                              <a class="blue-link" href="https://www.facebook.com/groups/595929693890060">French Coast Stamina Facebook Page</a></li>
                <li class="list-line-signup"> If you do not have Facebook, please send your scores at <strong>frenchcoaststamina@gmail.com</strong> </li>
                <li class="list-line-signup"> You should tell your nickname and your country (if you want to) the first time you submit, so as to get you a player card :) ! </li>
                <li class="list-line-signup"> And that should be it! You're in ! </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container odd-container">
    <div class="row">
        <div class="isthisecs col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <div class="odd-title">
                <h2>Is this the new ECS thingy?</h2>
            </div>
    <p class="isthisecs-paragraph">
        Nope ! The ECS X.5 tourneys definitely inspired the idea, and French Coast Stamina 1 was mimmicking ECS4, but was only ran in France. This is at this date independent from ECS.
    </p>
    <p class="isthisecs-paragraph">
        I had a few ideas about the new tournament I was trying to make, and the French community decided by vote that it should go international for the next edition, so here it is !
    </p>
       </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="thanks">
    <h3 class="special-thanks">
    Special thanks!
    Mad props to anyone whose work is in there. You've been a massive inspiration.
    </h3>
</div>

<script src="js/scrollers.js"></script>
