<div class="ranking-low">
    <h1>Player Rankings  -  Low Tournament</h1>
    {{#if rows}}
        <table class='table_ranking_low'>
            <tr>
                <th>Player</th><th>Songs Played</th><th>FCS Points</th>
            </tr>
            {{#each rows}}
                <tr>
                    <td>{{Name}}</td><td>{{Played}}</td><td>{{Score}}</td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</div>