<div class="container odd-container">
    <div class="row">
        <div id="general_information" class="presentation col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <div class="odd-title">
                <h2>General Informations</h2>
            </div>
            <p class="general-rule-paragraph">French Coast Stamina 2 is an international online tournament taking place from now on until June 4th 2016.</p>
            <p class="general-rule-paragraph">It is splitted into 2 divisions: High and Hope. Each one has its own ranking.</p>
            <p class="general-rule-paragraph">FailOn, ITG timings and life (exceptions for life can be made on particular public machines). Play when you want, play what you want.</p>
            <p class="general-rule-paragraph">Send scores in the <strong>French Toast Stamina facebook group</strong>, or at <strong>frenchcoaststamina@gmail.com</strong></p>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container even-container">
    <div class="row">
        <div class="high_division col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 evenIndexPage">
            <div class="even-title">
                <h2>High Division</h2>
            </div>
            <p class="high_division_rules_paragraph">The division is consituted of 10 songs made for the tournament. These 10 songs are 10-minutes mixtapes with original and existing charts (see more info on credits page)</p>
            <p class="high_division_rules_paragraph">Each chart has all difficulties stepped, which make for 50 charts.</p>
            <p class="high_division_rules_paragraph">Edit steps are not counted in the ranking and supplement the song:
            Despair EDIT has footspeed in it, Fast Animu Music Expert features Gate Openerz v3, the Edit features the v2, FASTER Animu Music has a harder version to it (maybe a 20).</p>
            <p class="high_division_rules_paragraph">
            For each song the scoring system is:
            <strong>Diff adj * 9.09 * (Score * 100 + (BPM - 100) / 5)</strong>
            </p>
            <ul class="bullet-list-even-diff-adj">
                <li class="list-line-diff-adj">Diff adj is calculated this way:</li>
                <li class="list-line-diff-adj">Expert = 1</li>
                <li class="list-line-diff-adj">Hard = 0.8</li>
                <li class="list-line-diff-adj">Medium = 0.65</li>
                <li class="list-line-diff-adj">Easy = 0.5</li>
                <li class="list-line-diff-adj">Beginner = 0.4</li>
            </ul>
            <p class="high_division_rules_paragraph">All tries are worth their scores. Failing does not matter, but FailOff has to be disabled.</p>
            <ul class="bullet-list-score-example">
                <li class="list-line-score-example">Scores examples:</li>
                <li class="list-line-score-example">94.30% pass on Hallucinogen Expert is worth 948 points.</li>
                <li class="list-line-score-example">95.19% pass on Neurostreamz Medium is worth 636 points.</li>
                <li class="list-line-score-example">31.16% fail on Dernier Voyage Expert is worth 501 points.</li>
                <li class="list-line-score-example">31.16% fail on Dernier Voyage Beginner is worth 201 points.</li>
                <li class="list-line-score-example"></li>
                <li class="list-line-score-example"> Only the best score on one song counts:</li>
                <li class="list-line-score-example">93,08% on Hallucinogen Easy = 469 Points</li>
                <li class="list-line-score-example">89,92% on Hallucinogen Medium = 590 Points</li>
                <li class="list-line-score-example">76,32% on Hallucinogen Hard = 628 Points</li>
                <li class="list-line-score-example">Score is 628 points for Hallucinogen.</li>
            </ul>
            <p class="high_division_rules_paragraph"> Ranking will be done with the total of the points on the 10 songs. </p>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container odd-container">
    <div class="row">
        <div class="low_division col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 oddIndexPage">
            <div class="odd-title">
                <h2>Low division</h2>
                <p class="odd-paragraph-low-div">Low division features 30 charts splitted by BPM segment from 130 to 210.</p>
                <p class="odd-paragraph-low-div">Each BPM segment has 3 songs, an 11, a 12 and a 13.</p>
                <p class="odd-paragraph-low-div">These are not songs made for the tournament.</p>
                <p class="odd-paragraph-low-div">The scoring system for a song is:
                <strong>Score = 3 * Fantastics + 2 * Excellents + 1 * Greats</strong></p>
                <p class="odd-paragraph-low-div">Only the best score counts on a BPM segment, meaning if you play all the songs from the 130 range, only the best score of the three songs will be counted.</p>
                <p class="odd-paragraph-low-div">Sum of scores from all BPM sections makes a total score which will be used for the ranking.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 separator">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container even-container">
    <div class="row">
        <div class="optional_division col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 evenIndexPage">
            <div class="even-title">
                <h2>Optional division</h2>
            </div>
            <p class="optional_division_rules_paragraph">This division is not counting towards any specific ranking, it is more or less the Marathon Division.</p>
            <p class="optional_division_rules_paragraph">4 marathons are available for the Low division:
            All 11s, all 12s, all 13s, all songs.</p>
            <p class="optional_division_rules_paragraph">6 marathons are available for the High division:
            First five Beginner charts, first five Expert charts, last five Beginner charts, last five Expert charts (except for the last 2 which are the Hard difficulties), all Beginners, all Experts.</p>
            <p class="optional_division_rules_paragraph">For each marathon, the slowest songs will be played first.</p>
            <p class="optional_division_rules_paragraph">In case it is ever needed, scoring system is the same as the Low division.</p>
        </div>
    </div>
</div>
<script src="js/scrollers.js"></script>
